[Unit]
Description=resiliosync server
Before=nginx-attach.service
After=prepare.service
Requires=prepare.service

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
ExecStart=/usr/bin/rslsync --nodaemon --config "/tmp/config.json"
KillSignal=SIGINT
TimeoutStopSec=5min
User=media_rw
Group=users
StandardOutput=journal+console
StandardError=journal+console
LimitNOFILE=20480
