[Unit]
Description=resiliosync server
Before=nginx-attach.service

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
ExecStart=/usr/bin/bash /opt/start.sh
KillSignal=SIGINT
User=media_rw
Group=users
StandardOutput=journal+console
StandardError=journal+console
