[Unit]
Description=force rebuild nginx config files

[Service]
Type=oneshot
RemainAfterExit=no
Restart=no
ExecStart=/usr/bin/bash /usr/libexec/rebuild-config-folder.sh
