[Unit]
After=prepare.service
Requires=prepare.service

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
ExecStart=/usr/sbin/nginx
ExecReload=/usr/sbin/nginx -s reload
ExecStop=/usr/sbin/nginx -s stop
