[Unit]
FailureAction=exit

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
ExecStart=/usr/bin/bash /usr/libexec/nginx-loader.sh
ExecReload=/usr/bin/safe-reload
ExecStop=/usr/sbin/graceful-shutdown.sh
StandardInput=null
StandardOutput=journal+console
StandardError=journal+console
