[Unit]
DefaultDependencies=no
Requires=local-fs.target
After=local-fs.target
AssertPathIsMountPoint=/run/nginx
AssertPathIsMountPoint=/run/sockets
RefuseManualStop=yes
FailureAction=exit
FailureActionExitStatus=233

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash /opt/nginx-prestart.sh
