[Unit]
After=prepare.service
Requires=prepare.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/flock --verbose --no-fork --nonblock --conflict-exit-code 0  /tmp/reload-request.lock /bin/bash /opt/reload-server.sh
StandardInput=socket
StandardOutput=socket
StandardError=journal
PrivateTmp=yes
