[Unit]
After=nginx.service
Requires=nginx.service
DefaultDependencies=no

[Install]
WantedBy=multi-user.target

[Socket]
ListenFIFO=/run/nginx/contribute/.master/request.fifo
Service=reload-handler.service
