[Unit]
After=prepare.service
Requires=prepare.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/flock --verbose --no-fork /tmp/reload-request.lock --nonblock --conflict-exit-code 0 /bin/bash /opt/reload-server.sh
StandardInput=socket
StandardOutput=socket
StandardError=journal
PrivateTmp=yes
