[Unit]
After=prepare.service
Requires=prepare.service

[Service]
Type=exec
ExecStart=/bin/bash /opt/reload-waiter.sh
StandardInput=socket
StandardOutput=socket
StandardError=journal
PrivateTmp=yes
