[Unit]
Description=dhclient v4
RequiredBy=network-online.target
Before=network-online.target qbittorrent.service update-self-ip.service
Wants=dhclient6.service

[Service]
Type=forking
PIDFile=/var/run/dhclient4.pid
ExecStart=/usr/sbin/dhclient -v -4 -pf /var/run/dhclient4.pid
ExecStop=/usr/sbin/dhclient -v -4 -r -pf /var/run/dhclient4.pid
Restart=always

[Install]
WantedBy=network-online.target
