[Unit]
Description=qBittorrent
Requires=i3.service
After=i3.service

[Service]
Type=exec
Environment=DISPLAY=:0 LC_ALL=C.UTF-8
ExecStartPre=+/bin/bash /opt/scripts/prestart.sh
ExecStart=/usr/bin/qbittorrent --profile=/opt
Restart=on-abort
User=media_rw
Group=users
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
KillSignal=SIGINT
TimeoutStopSec=10min

[Install]
WantedBy=graphical.target
