[Unit]
Description=qBittorrent
Requires=i3.service
After=i3.service

[Install]
WantedBy=graphical.target

[Service]
Type=exec
Environment=DISPLAY=:0
ExecStart=/usr/bin/qbittorrent --profile=/opt
Restart=on-abort
Group=users
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
KillSignal=SIGINT
TimeoutStopSec=10min
