[Unit]
Description=update myself ip address to nginx proxy
After=systemd-networkd.service
Requires=systemd-networkd.service

[Timer]
OnCalendar=*-*-* *:0/5:00

[Install]
WantedBy=timers.target
