[Unit]
Description=XVNC Daemon
After=dhclient.service

[Service]
Type=simple
ExecStart=/usr/bin/Xvnc :0 -verbose 2 -listen tcp -geometry 1600x1024 -ac -SecurityTypes=None
User=media_rw
Group=users
Restart=always
ExecStartPost=/usr/bin/sleep 5

[Install]
WantedBy=graphical.target
