[Unit]
Description=bilibili livestream record
After=network-online.target network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
WorkingDirectory=/opt/app/bin
ExecStartPre=+/usr/bin/bash /opt/app/start.sh
ExecStart=/opt/app/bin/Server
Restart=always
RestartSec=10s
StandardInput=null
StandardOutput=journal+console
StandardError=journal+console
User=media_rw
Group=users
KillSignal=SIGINT
TimeoutStopSec=30s
