[Unit]
Description=fcgiwrap single socket

[Socket]
ListenStream=/run/sockets/gitrepo.sock
Service=fcgiwrap@root.service
SocketMode=0666

[Install]
WantedBy=multi-user.target
