[Unit]
Description=restart networkd when some interface failed
After=systemd-networkd.service
Requires=systemd-networkd.service

StartLimitIntervalSec=30s
StartLimitBurst=100

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/bash -c "if networkctl list --no-legend --no-pager | grep -v unmanaged | grep -q failed ; then echo RESTART ; systemctl restart systemd-networkd.service --no-block ; fi"
Restart=on-failure
RestartSec=30s
