[Unit]
Description=Create samba config file
Before=nmb.service
Requires=systemd-networkd.service
After=systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/run/.userenvironments
EnvironmentFile=-/opt/config/environments
ExecStart=/opt/scripts/start.sh

[Install]
WantedBy=multi-user.target
